@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .gradient-btn {
        background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
        transition: all;
        transition-duration: 300ms;
        color: #fff;
    }

    .gradient-btn:hover {
        background-image: linear-gradient(to right, hsl(0, 0%, 100%), hsl(0, 0%, 100%));
        color: #898ee7;
        @apply border-[#898ee7];
    }

    .active-btn {
        @apply bg-white text-[#898ee7] transition-all duration-300;
    }

    .active-btn:hover {
        @apply border-white bg-transparent text-white;
    }
}